* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    max-width: 1920px;
    width: 100%;
    height: auto;
}

nav {
    width: 1920px;
    padding: 30px 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2A2A2A;
}

.nav_left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_left p {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: #FFFFFF;
}

.nav_right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 435px;
}

.nav_right a {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #E4E4E4;
}

.nav_right a:hover {
    text-decoration: underline #00C2ED;
}

/* ===  footer end  === */

.section_1 {
    width: 100%;
    height: auto;
    display: flex;
    padding: 160px 0;
    align-items: start;
    padding-left: 17%;
    justify-content: center;
    flex-direction: column;
    background-color: #2A2A2A;
    background-image: url(./img/Gleb.png);
    background-repeat: no-repeat;
    background-position: 85% -17.5%;
}


.section_1 p {
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #E4E4E4;
}

.section_1 b {
    font-weight: 700;
    font-size: 72px;
    line-height: 82px;
    padding-top: 27px;
    color: #E4E4E4;
}

.section_1 span {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    padding-top: 27px;
    color: #E4E4E4;
}

.section_1 button {
    text-transform: uppercase;
    border: none;
    width: 200px;
    height: 47px;
    background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    margin-top: 27px;
    line-height: 20px;
    color: #000000;
}

/* ===  section 1 end === */

.section_2 {
    width: 100%;
    height: auto;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 113px 0 150px 0;
}

.sec2_top {
    width: 1180px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec2 {
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #2A2A2A;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
    border-radius: 29px;
    text-align: center;
}

.sec2 p {
    padding-top: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: gray;
}

.sec2 img {
    width: 75px;
    height: 75px;
}

.sec2_bottom {
    padding-top: 30px;
    width: 590px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* === section 2 end */

.section_3 {
    width: 100%;
    height: 1102px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
}

.sec3_box {
    width: 1424px;
    height: 961px;
    background-image: url(./img/Ellips.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.sec3_left {
    width: 44%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}

.sec3_l_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 378px;
    background-color: #2C2C2C;
}

.sec3_l_1 img {
    width: 272px;
    height: 320px;
    border: 8px solid gray;
}

.sec3_right {
    width: 770px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec3_r_l {
    width: 496px;
    height: 842px;
    background-color: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sec3_r_l p {
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.spanbox {
    width: 496px;
    height: 822px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spanbox span {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: gray;
}

.sec3_r_r {
    width: 310px;
    height: 485px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #2A2A2A;
}

.sec3_r_r img {
    border: 8px solid gray;
}

/* === section_3 end === */


.section_4 {
    width: 100%;
    height: 790px;
    background-color: #1D1D1D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 90px 0 150px 0;
}

.sec4_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec4_top p {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
    text-transform: uppercase;
}

.sec4_bottom {
    width: 970px;
    height: 600px;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
    border-radius: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 30px;
}

.sec4_b_l {
    width: 493px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec4_b_l img {
    width: 443px;
    height: 450px;
}

.sec4_b_r {
    width: 296px;
    height: 436px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.sec4_b_r p {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: gray;
}

.sec4_span {
    width: 296px;
    height: 336px;
    text-align: center;
}

.sec4_span span {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: gray;
}

.sec4_a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec4_b_r a {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    padding-right: 5px;
    color: #E2A100;
}

/* === footer === */

footer {
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    width: 100%;
    height: 238px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_box {
    width: 733px;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_col_1 {
    width: 85px;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.footer_col_1 a {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: gray;
}

.footer_col_2 {
    width: 244px;
    height: 138px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}


.footer_col_2 a {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: gray;
}

.footer_col_3 {
    width: 260px;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.col_3_t {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col_3_t button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: orange;
}

.col_3_t p {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.col_3_p {
    width: 100%;
}

.col_3_p {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: gray;
}